[Desktop Entry]
Version=1.0
Name=ShelySQL
Comment=Test the terminal running a command inside it
Exec=bash -c 'cd ~/Documents/script-bash/project;. RDBMS;$SHELL'
Icon=shelySQL.png
Terminal=false 
Type=Application
Categories=Application;
